.bottom-toolbar {
  padding: 0 8px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 32px;
  font-size: 14px;
  background: #212121;

  .bottom-status {
    display: flex;
    align-items: center;
    margin: 0 5px;

    .mat-icon {
      font-size: 18px;
      height: 20px;
      width: 20px;
    }

    span {
      margin-right: 5px;
    }
  }
}
