<mat-toolbar class="bottom-toolbar mat-elevation-z6">
  <div class="bottom-status">
    <mat-icon *ngIf="isLinux" color="accent">check</mat-icon>
    <mat-icon *ngIf="!isLinux" color="error">close</mat-icon>
    <span>Linux</span>
  </div>
  <div class="bottom-status">
    <mat-icon *ngIf="isOnline" color="accent">wifi</mat-icon>
    <mat-icon *ngIf="!isOnline" color="error">wifi_off</mat-icon>
    <span>Network</span>
  </div>
  <div class="bottom-status">
    <mat-icon color="accent">folder</mat-icon>
    <span>Work directory:</span>
    <span>[{{workDir||'None'}}]</span>
  </div>
</mat-toolbar>
