.app-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.top-toolbar {
  padding: 0 8px;
  position: sticky;
  top: 0;
    left: 0;
  right: 0;
  z-index: 10;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-container {
    height: calc(100vh - 64px - 28px);
  .content{
    padding: 16px;
  }
}

